{% extends 'base.html' %}

{%block title%}
    About Us
{% endblock %}

{%block headadd%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about_us.css') }}"/>

{% endblock %}

{% block content %}
<body style = "background-image: linear-gradient( #214a86, #1f384e); height: 100%; margin: 0; background-repeat: no-repeat; background-attachment: fixed;" >
    <div id="SideNav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn prevent-select" onclick="closeNav()">&times;</a>
        <a href="/" class="prevent-select"; style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white;">Home</a>
        <a href="/bio" class="prevent-select"; style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white;">Biology</a>
        <a href="/histo" class="prevent-select"; style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white;">History</a>
        <a href="/geo" class="prevent-select"; style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white;">Geography</a>
        <a href="/phil" class="prevent-select"; style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white;">Philosophy</a>
        <a href="/rel" class="prevent-select"; style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white;">Religion</a>
        <a href="/about_us" class="prevent-select"; style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white;">About us</a>
    </div>
      <button class="openbtn prevent-select" onclick="openNav()" style="cursor:pointer;">&#9776;</button>
      <div id="main">
        <br><br>
      <button class="accordion">Cine suntem?</button>
      <div class="panel">
        <p>Suntem clasa a 12 I, pasionati atat de informatica, cat si de frumusetile oferite de tara noastra. </p>
      </div>
      
      <button class="accordion">Ce facem?</button>
      <div class="panel">
        <p>Scopul nostru este sa sporim turismul romanesc prin evidentierea anumitor puncte de interes, dar si de informare pentru a proteja natura prin educarea publicului in ceea ce priveste rezervatiile naturale, dar si speciile protejate de lege.</p>
      </div>
      <button class="accordion"> Bibliografie </button>
      <div class = "panel">
          <h3 style="color:white">Pagini Web</h3>
          <a href="https://wwf.ro/ce-facem/specii/">Specii | WWF Romania</a>
          <br>
          <a href="https://romaniasalbatica.ro/ro/arii-protejate">Arii Protejate (romaniasalbatica.ro  )</a>
          <br>
          <a href="https://natura2000.ro/arii-protejate/">Arii protejate – Natura 2000</a>
          <br>
          <a href="https://www.sor.ro/lista-rosie-peste-40-de-specii-de-pasari-din-romania-amenintate-cu-disparitia/">Lista Roșie: Peste 40 de specii de păsări din România amenințate cu dispariția • Societatea Ornitologică Romană (sor.ro) </a>
          <br>
          <a href="https://hortiweb.ro/specii-de-plante-ocrotite-de-lege-si-declarate-monumente-ale-naturii">Hortiweb - Specii de plante ocrotite de lege și declarate monumente ale naturii </a>
          <br>
          <a href="https://ro.wikipedia.org/wiki/R%C3%A2ul_Olt">Raul Olt</a>
          <br>
          <h3 style="color:white">Carti</h3>
          <p>Elena Săvulescu, 2016, Sistematica plantelor, Ediţia a II-a, Editura Printech, București</p>
        </div>
    </div>
   <script src="/static/js/index.js"></script>
</body>
{% endblock %}

{%block scripts%}
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
} 
{%endblock%}